:root{
    --color-primary: #d69593;
    --color-secondary:#93c3bd;
    --color-tertiary:#f6f6f8;
    --color-fourth:#feefee;
}

* {
    margin: 0px;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    position:fixed;
    
}
.navbar__list a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar__list {
    list-style: none;
}

.home{
    width: 100vw;
    height: 2000px;
    
}

section{
    padding-top: 350px;
}

.home__title{
    font-size: 8rem;
    text-align: center;
}